dataset_mgmt.py
popularity_predictionOLD.py
popularity_prediction.py
/Features Extracted/
/Data Sources/
/Billboard/
/Audio/
/analysis/
/MagnaTagATune/
/input/
/GTZAN/
/FMA/
/Billboard/CSV/SPD_en_no_dup.csv
/models/Model/.neptune/
/models/Model/checkpoint/
/models/Model/ESC50DataModule.py
/models/Model/ESC50Dataset.py
/models/Model/ESC50PreTrained.py
/models/Model/FMADataLoader.py
/models/Model/FMADataset.py
models/Model/__pycache__/GTZANDataloader.cpython-39.pyc
models/Model/__pycache__/GTZANDataset.cpython-39.pyc
models/Model/__pycache__/GTZANPreTrained.cpython-39.pyc
*.csv