saved_models/feature_compressed/model_1_A/weights.h5
saved_models/feature_compressed/model_1_A/model_history_5.json
saved_models/feature_compressed/model_1_A/model_history_4.json
saved_models/feature_compressed/model_1_A/model_history_3.json
saved_models/feature_compressed/model_1_A/model_history_2.json
saved_models/feature_compressed/model_1_A/model_history_1.json
saved_models/feature_compressed/model_1_A/.DS_Store
saved_models/feature_compressed/.DS_Store
saved_models/.DS_Store
models/__pycache__/my_model.cpython-39.pyc
models/__pycache__/model_selection.cpython-39.pyc
logs/validation/events.out.tfevents.1682341226.MacBook-Pro-di-Elisa.local.11517.9.v2
logs/validation/events.out.tfevents.1682341134.MacBook-Pro-di-Elisa.local.11517.7.v2
logs/validation/events.out.tfevents.1682341045.MacBook-Pro-di-Elisa.local.11517.5.v2
logs/validation/events.out.tfevents.1682340959.MacBook-Pro-di-Elisa.local.11517.3.v2
logs/validation/events.out.tfevents.1682340877.MacBook-Pro-di-Elisa.local.11517.1.v2
logs/validation/events.out.tfevents.1682336114.MacBook-Pro-di-Elisa.local.7574.3.v2
logs/validation/events.out.tfevents.1682335991.MacBook-Pro-di-Elisa.local.7574.1.v2
logs/validation/events.out.tfevents.1682327311.MacBook-Pro-di-Elisa.local.6736.5.v2
logs/validation/events.out.tfevents.1682327194.MacBook-Pro-di-Elisa.local.6736.3.v2
logs/validation/events.out.tfevents.1682327081.MacBook-Pro-di-Elisa.local.6736.1.v2
logs/validation/events.out.tfevents.1682326434.MacBook-Pro-di-Elisa.local.5527.9.v2
logs/validation/events.out.tfevents.1682326307.MacBook-Pro-di-Elisa.local.5527.7.v2
logs/validation/events.out.tfevents.1682326167.MacBook-Pro-di-Elisa.local.5527.5.v2
logs/validation/events.out.tfevents.1682326045.MacBook-Pro-di-Elisa.local.5527.3.v2
logs/validation/events.out.tfevents.1682325907.MacBook-Pro-di-Elisa.local.5527.1.v2
logs/validation/events.out.tfevents.1682325012.MacBook-Pro-di-Elisa.local.4792.9.v2
logs/validation/events.out.tfevents.1682324914.MacBook-Pro-di-Elisa.local.4792.7.v2
logs/validation/events.out.tfevents.1682324813.MacBook-Pro-di-Elisa.local.4792.5.v2
logs/validation/events.out.tfevents.1682324719.MacBook-Pro-di-Elisa.local.4792.3.v2
logs/validation/events.out.tfevents.1682324626.MacBook-Pro-di-Elisa.local.4792.1.v2
logs/validation/events.out.tfevents.1682323613.MacBook-Pro-di-Elisa.local.4410.1.v2
logs/validation/events.out.tfevents.1682322705.MacBook-Pro-di-Elisa.local.3570.1.v2
logs/validation/events.out.tfevents.1682322345.MacBook-Pro-di-Elisa.local.3356.1.v2
logs/train/events.out.tfevents.1682341226.MacBook-Pro-di-Elisa.local.11517.8.v2
logs/train/events.out.tfevents.1682341133.MacBook-Pro-di-Elisa.local.11517.6.v2
logs/train/events.out.tfevents.1682341045.MacBook-Pro-di-Elisa.local.11517.4.v2
logs/train/events.out.tfevents.1682340959.MacBook-Pro-di-Elisa.local.11517.2.v2
logs/train/events.out.tfevents.1682340875.MacBook-Pro-di-Elisa.local.11517.0.v2
logs/train/events.out.tfevents.1682336112.MacBook-Pro-di-Elisa.local.7574.2.v2
logs/train/events.out.tfevents.1682335988.MacBook-Pro-di-Elisa.local.7574.0.v2
logs/train/events.out.tfevents.1682327309.MacBook-Pro-di-Elisa.local.6736.4.v2
logs/train/events.out.tfevents.1682327192.MacBook-Pro-di-Elisa.local.6736.2.v2
logs/train/events.out.tfevents.1682327080.MacBook-Pro-di-Elisa.local.6736.0.v2
logs/train/events.out.tfevents.1682326433.MacBook-Pro-di-Elisa.local.5527.8.v2
logs/train/events.out.tfevents.1682326306.MacBook-Pro-di-Elisa.local.5527.6.v2
logs/train/events.out.tfevents.1682326166.MacBook-Pro-di-Elisa.local.5527.4.v2
logs/train/events.out.tfevents.1682326043.MacBook-Pro-di-Elisa.local.5527.2.v2
logs/train/events.out.tfevents.1682325905.MacBook-Pro-di-Elisa.local.5527.0.v2
logs/train/events.out.tfevents.1682325011.MacBook-Pro-di-Elisa.local.4792.8.v2
logs/train/events.out.tfevents.1682324913.MacBook-Pro-di-Elisa.local.4792.6.v2
logs/train/events.out.tfevents.1682324812.MacBook-Pro-di-Elisa.local.4792.4.v2
logs/train/events.out.tfevents.1682324718.MacBook-Pro-di-Elisa.local.4792.2.v2
logs/train/events.out.tfevents.1682324625.MacBook-Pro-di-Elisa.local.4792.0.v2
logs/train/events.out.tfevents.1682323611.MacBook-Pro-di-Elisa.local.4410.0.v2
logs/train/events.out.tfevents.1682322704.MacBook-Pro-di-Elisa.local.3570.0.v2
logs/train/events.out.tfevents.1682322343.MacBook-Pro-di-Elisa.local.3356.0.v2
input/y_test_regression.csv
input/x_test_regression.csv
input/tracks_id_regression.csv
input/df_final_year.csv
input/df_final_noyear.csv
Figures/cv_99.png
Figures/cv_98.png
Figures/cv_97.png
Figures/cv_96.png
Figures/cv_95.png
Figures/cv_94.png
Figures/cv_93.png
Figures/cv_92.png
Figures/cv_91.png
Figures/cv_90.png
Figures/cv_89.png
Figures/cv_88.png
Figures/cv_87.png
Figures/cv_86.png
Figures/cv_85.png
Figures/cv_84.png
Figures/cv_83.png
Figures/cv_82.png
Figures/cv_81.png
Figures/cv_80.png
Figures/cv_79.png
Figures/cv_78.png
Figures/cv_77.png
Figures/cv_76.png
Figures/cv_75.png
Figures/cv_74.png
Figures/cv_73.png
Figures/cv_72.png
Figures/cv_71.png
Figures/cv_70.png
Figures/cv_69.png
Figures/cv_68.png
Figures/cv_67.png
Figures/cv_66.png
Figures/cv_65.png
Figures/cv_64.png
Figures/cv_63.png
Figures/cv_62.png
Figures/cv_61.png
Figures/cv_60.png
Figures/cv_59.png
Figures/cv_58.png
Figures/cv_57.png
Figures/cv_56.png
Figures/cv_55.png
Figures/cv_54.png
Figures/cv_53.png
Figures/cv_52.png
Figures/cv_51.png
Figures/cv_50.png
Figures/cv_49.png
Figures/cv_48.png
Figures/cv_47.png
Figures/cv_46.png
Figures/cv_45.png
Figures/cv_44.png
Figures/cv_43.png
Figures/cv_42.png
Figures/cv_41.png
Figures/cv_40.png
Figures/cv_39.png
Figures/cv_38.png
Figures/cv_37.png
Figures/cv_36.png
Figures/cv_35.png
Figures/cv_34.png
Figures/cv_33.png
Figures/cv_32.png
Figures/cv_31.png
Figures/cv_30.png
Figures/cv_29.png
Figures/cv_28.png
Figures/cv_27.png
Figures/cv_26.png
Figures/cv_25.png
Figures/cv_24.png
Figures/cv_23.png
Figures/cv_22.png
Figures/cv_21.png
Figures/cv_20.png
Figures/cv_19.png
Figures/cv_18.png
Figures/cv_17.png
Figures/cv_16.png
Figures/cv_15.png
Figures/cv_14.png
Figures/cv_13.png
Figures/cv_12.png
Figures/cv_11.png
Figures/cv_10.png
Figures/cv_9.png
Figures/cv_8.png
Figures/cv_7.png
Figures/cv_6.png
Figures/cv_5.png
Figures/cv_4.png
Figures/cv_3.png
Figures/cv_2.png
Figures/cv_1.png
Figures/cv_0.png
Figures/.DS_Store
Features Extracted/lyrics_features.csv
Features Extracted/low_level_audio_features.csv
Data Sources/spotify_tracks.csv
Data Sources/spotify_artists.csv
Data Sources/spotify_albums.csv
test.txt
saved_models/feature_compressed/model_1_A/weights.h5
saved_models/feature_compressed/model_1_A/weights.h5
saved_models/feature_compressed/model_1_A/weights.h5
/ESC-50-master/
/GTZAN/genres_original/
/GTZAN/images_original/
/models/.neptune/
/models/checkpoints/
/models/Resnet/.neptune/
/models/Resnet/checkpoint/
/models/Resnet/checkpoint/
/prove/
/Spec/
*.png
/FMA/
/popularity_prediction.py
/input/
/Data Sources/
/images/
/models/
/Billboard/
/MagnaTagATune/
/popularity_predictionOLD.py
/Audio/
/test results.txt
/GTZAN/
/Features Extracted/
/dataset_mgmt.py
/saved_models/
/Spec/
/analysis/
/.gitignore
