backoff==2.2.1
beautifulsoup4==4.12.3
bitsandbytes==0.42.0
colorama==0.4.6
croniter==1.4.1
dateutils==0.6.12
deepdiff==6.7.1
docker==6.1.3
docstring-parser==0.15
fqdn==1.5.1
hydra-core==1.3.2
inquirer==3.2.3
ipykernel==6.29.0
isoduration==20.11.0
jsonargparse==4.27.4
jsonpointer==2.4
librosa==0.10.1
lightning==2.1.4
lightning-api-access==0.0.5
lightning-cloud==0.5.64
lightning-fabric==2.1.4
matplotlib==3.8.2
neptune==1.8.6
pip-chill==1.0.3
polars==0.20.6
redis==5.0.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
s3fs==2023.12.2
sentence-transformers==2.3.1
shellingham==1.5.4
tensorboardx==2.6.2.2
torchaudio==2.2.0
torchvision==0.17.0
typer==0.9.0
typeshed-client==2.4.0
uri-template==1.3.0
webcolors==1.13
websockets==11.0.3